body{
    
}



.features-container{

}

.callout-container{
    height: 100vh;
    background:url(/images/3.jpeg) no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    padding-top: 140px;
    padding-right: 50px;
    color: darkolivegreen;

}

.callout-jumbotron{


}
.jumbotron-header{
    background-color: transparent;

}

.quotes-container{
    background-color: lightgreen;

}