body{
    
}



.features-container{

}

.callout-container{
    height: 100vh;
    background:url(/images/3.jpeg) no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;


}

.jumbotron-header{
    background-color: transparent;
}

.quotes-container{

}